*.aux
*.log
*.synctex.gz
*.out
*.bbl
*.bcf
*.blg
*.fls
*-cache.yaml
*.fdb_latexmk
*.run.xml
*.toc
*.xdv
*.lfs


klsh2014/data_analysis/klsh_14_datan.html
klsh2014/data_analysis/datan_plan.md
klsh2014/data_analysis/.#datan_plan.md


klsh2014/igeometry/igeometry_log.txt

klsh2014/.#planerka_log.txt

klsh2014/igeometry/.#igeometry_log.txt

klsh2014/igeometry/video_comment.txt

klsh2014/igeometry/[Vimeo-].mp4

klsh2014/igeometry/[Vimeo-].mp4

klsh2014/igeometry/[Tristan_Needham]_Visual_Complex_Analysis(BookZZ.org).djvu

klsh2014/igeometry/[Vimeo-].mp4

klsh2014/igeometry/[Tristan_Needham]_Visual_Complex_Analysis(BookZZ.org).djvu

klsh2014/data_analysis/r21i_os24a.sav

klsh2014/data_analysis/R21i_cb.pdf

klsh2014/data_analysis/r21h_os24a.sav

klsh2014/data_analysis/r21h_cb.pdf

klsh2014/igeometry/[Tristan_Needham]_Visual_Complex_Analysis(BookZZ.org).djvu

klsh2014/igeometry/ponarin.pdf

klsh2014/planerka_log.txt

klsh2014/igeometry/compl_num.djvu

klsh2014/data_analysis/titanic2.sav

klsh2014/data_analysis/titanic.xls

klsh2014/igeometry/[Tristan_Needham]_Visual_Complex_Analysis(BookZZ.org).djvu

klsh2014/igeometry/trip_e214.mp4

klsh2014/igeometry/Tristan_Needham_Visual_Complex_Analysis.djvu

klsh2014/Backup of knt_logic.docx

klsh2014/~$knt_sorted.xlsx

klsh2014/~$rost_ves.xlsx
klsh2014/BBC_This_World_Don_t_Panic_The_Truth_About_Population_H264_1.flv
klsh2014/platonic/120-cell.mp4
klsh2014/platonic/polytopes.mov.mp4
klsh2014/Visualization_of_Einstein_s_special_relativity.mp4

klsh2018/quantum_computing/all_solutions.tex


klsh2019/fmt_rules_2019/
klsh2019/svalka_script/
zadachi-dlia-fmt/