
klsh2014/data_analysis/klsh_14_datan.html

klsh2014/data_analysis/datan_plan.md

klsh2014/data_analysis/.#datan_plan.md

klsh2014/igeometry/i_geometry.aux

klsh2014/igeometry/i_geometry.log

klsh2014/igeometry/i_geometry.synctex.gz

klsh2014/igeometry/igeometry_log.txt

klsh2014/.#planerka_log.txt

klsh2014/igeometry/.#igeometry_log.txt

klsh2014/igeometry/video_comment.txt

klsh2014/igeometry/[Vimeo-].mp4

klsh2014/igeometry/[Vimeo-].mp4

klsh2014/igeometry/[Tristan_Needham]_Visual_Complex_Analysis(BookZZ.org).djvu

klsh2014/igeometry/[Vimeo-].mp4

klsh2014/igeometry/[Tristan_Needham]_Visual_Complex_Analysis(BookZZ.org).djvu

klsh2014/data_analysis/r21i_os24a.sav

klsh2014/data_analysis/R21i_cb.pdf

klsh2014/data_analysis/r21h_os24a.sav

klsh2014/data_analysis/r21h_cb.pdf

klsh2014/igeometry/[Tristan_Needham]_Visual_Complex_Analysis(BookZZ.org).djvu

klsh2014/igeometry/ponarin.pdf

klsh2014/planerka_log.txt

klsh2014/igeometry/compl_num.djvu

klsh2014/data_analysis/titanic2.sav

klsh2014/data_analysis/titanic.xls

klsh2014/igeometry/[Tristan_Needham]_Visual_Complex_Analysis(BookZZ.org).djvu

klsh2014/igeometry/trip_e214.mp4

klsh2014/igeometry/Tristan_Needham_Visual_Complex_Analysis.djvu

klsh2014/Backup of knt_logic.docx

klsh2014/xeriki_oniki/xeriki_oniki.aux

klsh2014/xeriki_oniki/xeriki_oniki.log

klsh2014/xeriki_oniki/xeriki_oniki.out

klsh2014/xeriki_oniki/xeriki_oniki.synctex.gz

klsh2014/3poros_matboi/3poros_matboi.aux

klsh2014/3poros_matboi/3poros_matboi.log

klsh2014/3poros_matboi/3poros_matboi.synctex.gz

klsh2014/sheme_matbabai/matbabai.aux

klsh2014/sheme_matbabai/matbabai.log

klsh2014/sheme_matbabai/matbabai.synctex.gz

klsh2014/~$knt_sorted.xlsx

klsh2014/~$rost_ves.xlsx
