/matboi_2_problems.aux
/matboi_2_problems.log
/matboi_2_problems.out
/matboi_2_problems.pyg
/matboi_2_problems.synctex.gz
/segment_by_3.aux
/segment_by_3.log
/segment_by_3.out
/segment_by_3.pyg
/segment_by_3.synctex.gz
