/klsh12_game_theory.aux
/klsh12_game_theory.fdb_latexmk
/klsh12_game_theory.fls
/klsh12_game_theory.log
/klsh12_game_theory.out
/klsh12_game_theory.pyg
/klsh12_game_theory.synctex.gz
/klsh12_game_theory.tex~
/klsh12_gt_razdatka1.aux
/klsh12_gt_razdatka1.fdb_latexmk
/klsh12_gt_razdatka1.fls
/klsh12_gt_razdatka1.log
/klsh12_gt_razdatka1.out
/klsh12_gt_razdatka1.pyg
/klsh12_gt_razdatka1.synctex.gz
/klsh12_zagon_gamt.aux
/klsh12_zagon_gamt.fdb_latexmk
/klsh12_zagon_gamt.fls
/klsh12_zagon_gamt.log
/klsh12_zagon_gamt.out
/klsh12_zagon_gamt.pyg
/klsh12_zagon_gamt.synctex.gz
